@font-face {
    font-family: 'CommitMono';
    src: url('fonts/CommitMono-400-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    color: var(--main-text);
}

:root {
    font-family: 'CommitMono', monospace;
    color-scheme: light dark;

    /* Dependent on #theme-light */
    &:has(#theme-light:checked) {
        color-scheme: light;
    }

    &:has(#theme-light:not(checked)) {
        color-scheme: dark;
    }

    --main-bg: light-dark(#fff6ec, #131211);
    --main-accent: light-dark(#D54C10, #F49871);
    --main-text: light-dark(#131211, #fff6ec);

    font-size: 16px;

    @media (max-width: 1024px) {
        font-size: 14px;
    }

    @media (max-width: 768px) {
        font-size: 12px;
    }

}

a {
    text-decoration: underline;

    &:hover {
        color: var(--main-accent);
    }

}

h1,
h2,
h3 {
    color: var(--main-accent);
}


body {
    background-color: var(--main-bg);
    min-height: 100svh;
    min-width: 100svw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

p {
    text-align: justify;
}

article {

    p,
    h2 {
        margin-bottom: 1svh;
    }
}

.main-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2svw;
    align-items: end;
    padding-bottom: 2svh;
    border-width: 1px;
    border-color: var(--main-accent);
    border-bottom-style: solid;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        row-gap: 1svh;

        div h1 {
            text-align: center;
        }
    }

    .site-links {
        display: flex;
        flex-grow: 1;
        justify-content: end;
        align-items: end;
        column-gap: 2svw;
        row-gap: 2svh;
    }
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        row-gap: 1svh;
    }
}

.main-page {
    flex-grow: 1;
    padding: 5svh 6svw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2svh;
}

.theme-picker {
    span {
        min-width: 5rem;
        max-width: 5rem;
        text-align: center;
        user-select: none;
        background-color: var(--main-bg);
        border-radius: 5px;
        border: 1px solid var(--main-text);
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: var(--main-text);
            color: var(--main-bg);
        }
    }

    input {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    &:has(#theme-light:checked) {
        #theme-picker-dark {
            display: none;
        }

        #theme-picker-light {
            display: block;
        }
    }

    &:has(#theme-light:not(checked)) {
        #theme-picker-light {
            display: none;
        }

        #theme-picker-dark {
            display: block;
        }
    }
}

.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 2svh;
    transition:
        opacity 200ms ease-in,
        transform 200ms ease-in;

    @starting-style {
        opacity: 0;
        transform: translateY(8px);
    }
}

.personal-photo {
    max-width: 400px;

    border: 1px solid var(--main-accent);
    border-radius: 5px;
}

.link-button {
    border-radius: 5px;
    border: 1px solid var(--main-text);
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--main-bg);
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: var(--main-text);
        color: var(--main-bg);
    }
}

.hero-page {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    column-gap: 5svw;
}

.hero-headline {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2svh;

    h1,
    h2 {
        font-size: 3rem;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    h1 {
        display: inline;
    }

    span {
        display: inline;
        font-size: 1rem;
    }

    @media (max-width: 768px) {
        p br {
            display: none;
        }
    }
}

.hero-navigations {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2svw;

    .link-button {
        flex-grow: 1;
    }
}

.about-info {
    display: flex;
    flex-direction: row;
    column-gap: 2svw;

    @media(max-width: 768px) {
        flex-direction: column;
        row-gap: 2svh;
    }

    .about-details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        row-gap: 2svh;

        @media (max-width: 1024px) {
            p br {
                display: none;
            }
        }

        nav {
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            column-gap: 1svw;
            row-gap: 1svh;
        }
    }
}

.project-list {
    display: flex;
    flex-direction: column;
    row-gap: 2svh;
}

.project-item {
    display: flex;
    flex-direction: column;

    nav {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
