@font-face {
  font-family: 'CommitMono';
  src: url('fonts/CommitMono-400-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
    margin: 0;
    color: var(--main-accent);
}

:root {
    --main-bg:#FFEED6;
    --main-accent:  #827148;
    font-size: 1rem;
    font-family: 'CommitMono', monospace;
}

body {
    background-color: var(--main-bg);
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

img {
    max-width: 200px;
}

p {
    text-align: justify;
}

a {
    font-size: 1.25rem;
}

.main-page {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
}

.profile-identity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2vw;
    align-items: flex-end;
}

.profile-identity div {
    height: 100h;
    width: 100w;
    text-align: start;
}

.profile-links {
    display: flex;
    justify-content: flex-start;
    column-gap: 1vw;
    align-items: flex-start;
}

.text-card p {
    margin-bottom: 1vh;
}

.text-card h2 {
    margin-bottom: 1vh;
}















