{% extends "base.html" %}

{% block content %}
    <section class="main-content">
        <article>
            <h2>Tentang</h2>
            <img src="/static/img/agne.jpg" class="personal-photo"/>
            <p>
                Saya mahasiswa Ilmu Komputer UI angkatan 25 dengan NPM 2506602196.
                Bentar ini belum selesai pagenya.
            </p>
            <!-- <a class="link-button" href="https://github.com/faeiz-ff">GitHub</a> -->
            <!-- <a class="link-button" href="https://id.linkedin.com/in/faeiz-faiza-fasha">LinkedIn</a> -->
            <!-- <a class="link-button" href="mailto:faeizfaiza@google.com">Email</a> -->
        </article>
    </section>
{% endblock %}
