{% extends "base.html" %}

{% block content %}
    <section class="main-content">
        <h2>Tentang Saya</h2>
        <div class="about-info">
            <img src="/static/img/agne.jpg" class="personal-photo"/>
            <div class="about-details">
                <span>
                    <h3>Faeiz Faiza Fasha</h3>
                    Mahasiswa Ilmu Komputer Universitas Indonesia 2025 (2506602196)
                </span>
                <p>
                    Seniman, insinyur perangkat lunak, pemrogram rekreasional.
                    <br>
                    Cinta dengan semua teori komputasi sejak saya baru lahir.
                    <br>
                    Tertarik dengan <i>systems programming</i>, teknik kompilator.
                    <br>
                    Suka berbahasa <a href="https://ziglang.org">Zig</a> dan 
                    <a href="https://typescriptlang.org">TypeScript</a>; tetap mengenali banyak bahasa lain.
                    <br>
                    Selamanya pelajar.

                </p>
                <nav>
                    <a class="link-button" href="https://github.com/faeiz-ff">GitHub</a>
                    <a class="link-button" href="https://id.linkedin.com/in/faeiz-faiza-fasha">LinkedIn</a>
                    <a class="link-button" href="mailto:faeizfaiza@google.com">faeizfaiza@gmail.com</a>
                </nav>
            </div>
        </div>
    </section>
{% endblock %}
