{% extends "base.html" %}

{% block meta %}
<title>Faeiz Faiza Fasha - Blog</title>
{% endblock%}

{% block content %}
<div class="main-content">
    <h1>Blog Personal</h1>
    <ul>
        {% for blog in blog_list %}
        <li>
            <span>
                [{{ blog.created_at_str }}]
                <a href="{% url 'main:show_blog_post' title=blog.title %}">{{ blog.title }}</a>
            </span>
        </li>
        {% empty %}
        <li>Belum ada blog post.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
