{% extends "base.html" %}

{% block meta %}
<title>Faeiz Faiza Fasha - Blog</title>
{% endblock%}

{% block content %}
<div class="main-content">
    <h1>Blog Personal</h1>
    <form id="search-form" class="model-search form-group">
        <input type="search"
               id="search-input"
               name="title"
               value="{{ title_query }}"
               placeholder="Cari berdasarkan nama blog"
               aria-label="Cari berdasarkan nama blog">
        <button type="submit" class="button">Cari</button>
        {% if user.is_superuser %}
        <button type="button"
                class="button"
                popovertarget="add-instance-modal"
                popovertargetaction="show">
            Tambah
        </button>
        {% endif %}
    </form>

    {% if user.is_superuser %}
    {% include "components/instance_form_modal.html" with form=form create_url='main:blog:create' model_name="Blog" %}
    {% endif %}

    {% include 'components/ajax-instances.html' with model="blog" %}
</div>
{% endblock %}
