{% extends "base.html" %}

{% block meta %}
<title>Faeiz Faiza Fasha - Blog - {{ title }}</title>
{% endblock%}

{% block content %}
<div class="main-content">
    <article>
        <h1>{{ title }}</h1>
        <p>[{{ created_at }}]</p>
        {{ html }}
    </article>
    <div class="actions">
        {% include 'components/model_delete_modal.html' with model=blog model_name="Blog" delete_model_view='main:blog:delete' %}
        <a class="link-button" href="{% url 'main:blog:update' blog.id %}">Edit</a>
    </div>
</div>
{% endblock %}
