{% extends "base.html" %}

{% block content %}
<main>
    <section class="main-content" id="experience">
        <article>
            <h1>Pengalaman Saya</h1>
            <ul>
                {% for experience in experience_list %}
                <li>
                    <div class="project-item">
                    <h2>{{ experience.title }}</h2>
                    <p>
                        {{ experience.get_category_display }}.
                        [ {{ experience.get_time_range_str }}
                        {% if experience.is_ongoing %}
                        - saat ini
                        {% endif %}]
                    </p>
                    <p>
                        {{ experience.description }}
                    </p>

                    </div>
                </li>
                {% empty %}
                <p>
                    Belum ada pengalaman yang ditambahkan.
                </p>
                {% endfor %}
            </ul>
        </article>
    </section>
</main>
{% endblock %}
