{% extends "base.html" %}

{% block meta %}
<title>Faeiz Faiza Fasha - Pengalaman</title>
{% endblock%}

{% block content %}
    <div class="main-content" id="experience">
        <h1>Pengalaman</h1>
        <ul>
            {% for experience in experience_list %}
            <li>
                <div class="list-item">
                    <h2>{{ experience.title }}</h2>
                    <p>
                        {{ experience.get_category_display }}.
                        [ {{ experience.get_time_range_str }}
                        {% if experience.is_ongoing %}
                        - saat ini
                        {% endif %}]
                    </p>
                    <p>
                        {{ experience.description }}
                    </p>
                </div>
            </li>
            {% empty %}
            <p>
                Belum ada pengalaman yang ditambahkan.
            </p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
