<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faeiz Faiza Fasha - Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="main-page">
        <main>
            <div class="main-content">
                <div class="hero-page">
                    <div class="hero-headline">
                        <div>
                            <h1>Faeiz.</h1> <span>(aspiring)</span>
                            <h2>Systems Programmer.</h2>
                        </div>
                        <p>
                            Saya melihat ke dalam kode yang orang lain tidak mau lihat.
                            <br>
                            Kode yang eksplisit, manual, <em>kotor</em>, saya ubah menjadi <em>indah</em>.

                        </p>
                        <nav class="hero-navigations">
                            <a class="link-button" href="/proyek">lihat proyek</a>
                            <a class="link-button" href="/tentang">tentang saya</a>
                        </nav>
                    </div>
                    <div class="hero-decor">
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
