<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faeiz Faiza Fasha - Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="main-page">
        <main>
            <div class="main-content">
                <div class="hero-page">
                    <label class="theme-picker" hidden>
                        <!-- The CSS needs a theme light element ID checked condition to know the theme -->
                        <!-- but it need not to show in the hero page unless i make room for it -->
                        <!-- there is currently no room for it -->
                        <!-- TODO: undirty this -->
                        <input type="checkbox" id="theme-light" name="theme-light" />
                        <span id="theme-picker-light">Light</span>
                        <span id="theme-picker-dark">Dark</span>
                    </label>
                    <div class="hero-headline">
                        <div>
                            <h1>Faeiz.</h1> <span>(aspiring)</span>
                            <h2>Systems Programmer.</h2>
                        </div>
                        <p>
                            Saya melihat ke dalam kode yang orang lain tidak mau lihat.
                            <br>
                            Kode yang eksplisit, manual, <em>kotor</em>, saya ubah menjadi <em>indah</em>.

                        </p>
                        <nav class="hero-navigations">
                            <a class="link-button" href="/proyek">lihat proyek</a>
                            <a class="link-button" href="/tentang">tentang saya</a>
                        </nav>
                    </div>
                    <div class="hero-decor">
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        //TODO: undirty this
        //      refer to the theme-light element in the html
        const themeCheckBox = document.getElementById('theme-light');
        const savedTheme = localStorage.getItem('theme-color');
        const prefersLight = window.matchMedia('(prefers-color-scheme: light)');

        if (savedTheme === 'light') {
            themeCheckBox.checked = true;
        } else if (savedTheme === 'dark') {
            themeCheckBox.checked = false;
        } else if (prefersLight) {
            themeCheckBox.checked = true;
            localStorage.setItem('theme-color', 'light');
        } else {
            themeCheckBox.checked = false;
            localStorage.setItem('theme-color', 'dark');
        }
    </script>
</body>

</html>
