{% extends "base.html" %}

{% block content %}
    <div class="main-page">
        <section class="text-card">
            <h2>Manifesto</h2>
            <p>
                Saya menyukai pemrograman layaknya sebuah seni.
            </p>
            <p>
                Seni mempunyai tujuan yang umum: ekspresi diri. Seni adalah proses pengekspresian diri terhadap
                suatu medium. Apapun dapat menjadi medium seni asal terdapat tujuan untuk pengekspresian diri.
                Pemrograman adalah medium seni saya untuk mengekspresikan abstraksi logika efisien terhadap mesin.
            </p>
            <p>
                Saya berpendapat bahwa keobjektifitasan ilmu komputer &mdash; walau relatif lebih objektif &mdash;
                <em>tidak jauh</em> dengan keobjektifitasan seni. Saya tidak konform dengan nilai estetika awam:
                Tidak ada seni yang lebih buruk atau lebih indah dalam estetika secara objektif. Setiap seni
                mempunyai tujuan khusus mereka masing-masing bergantung terhadap pengekspresian diri seniman yang
                membuatnya. Seni dapat dibilang indah apabila karya tersebut dengan persis mengekspresikan apa yang
                ingin diekspresikan.
            </p>
            <p>
                Objektifitas suatu efisiensi algoritma hanyalah alat untuk melukis, untuk mengekspresikan tujuan
                khusus: efisiensi. Ilmu komputer <em>tidak selalu</em> mempunyai solusi objektif. Tidak ada program
                komputer yang tidak mempunyai <i>bug</i>. Semua kombinasi spesifikasi, limitasi, dan variasi
                menciptakan
                berbagai permasalahan unik, sehingga penyelesaiannya terasa seperti menulis puisi yang terus
                berevolusi, berproses.
            </p>
            <p>
                Seniman sejati tidak pernah menyepelekan proses pembuatan seni mereka. Bagi mereka, satu garis
                tarikan pensil, satu not bunyian instrumen, satu syairan kata, dan satu ketikan kode, mempunyai
                makna bagi keseluruhan karyanya. Setiap langkah dengan penuh keniatan, ketelitian, dan
                kehati-hatian.
            </p>
            <p>
                Itu prinsip saya dalam berprogam, berkarya.
            </p>
        </section>
    </div>
{% endblock %}
