{% extends "base.html" %}

{% block meta %}
{% if form_instance %}
    <title>Ubah {{ model_name }} - {{ name }}</title>
{% else %}
    <title>Tambah {{ model_name }} - {{ name }}</title>
{% endif %}
{% endblock meta %}

{% block content %}
    <section class="main-section">
        <div class="container">
            {% if form_instance %}
            <h1>Ubah {{ model_name }} '{{ form.title.value }}' </h1>
            {% else %}
            <h1>Tambah {{ model_name }} Baru</h1>
            {% endif %}
            <form 
                method="post" 
                action=
                    {% if form_instance %} 
                        "{% url view_name form_instance %}"
                    {% else %}
                        "{% url view_name %}"
                    {% endif %}
                class="model-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% for error in field.errors %}
                <p class="form-error form-group">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                <div class="form-footer">
                    {% if form_instance %} 
                        <button type="submit">Ubah {{ model_name }}</button>
                    {% else %}
                        <button type="submit">Tambah {{ model_name }}</button>
                    {% endif %}
                    <a href="{% url exit_redirect %}" class="link-button">Batal</a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
