{% extends "base.html" %}

{% block meta %}
<title>Add {{ form_name }} - {{ name }}</title>
{% endblock meta %}

{% block content %}
    <section class="main-section">
        <div class="container">
            <h1>Tambah {{ form_name }} Baru</h1>
            <form method="post" action="{% url form_redirect %}" class="model-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                    <p class="form-error">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="form-footer">
                    <button type="submit">Tambah {{ form_name }}</button>
                    <a href="{% url form_redirect %}" class="link-button">Batal</a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
