{% extends "base.html" %}

{% block meta %}
<title>Faeiz Faiza Fasha - Proyek</title>
{% endblock%}

{% block content %}
    <div class="main-content">
        <h1>Proyek</h1>
        <ul>
        {% for project in instance_list %}
            <li>
                <article>
                    <h2>{{ project.title }}</h2>
                    <p>[
                        {{ project.get_time_range_str }} 
                        {% if project.is_ongoing %} 
                        - dalam pembangunan
                        {% endif %}
                        ]
                    </p>
                    <nav class='actions'>
                        <a class="link-button" href="{{ project.git_link }}">GitHub</a>
                        {% if project.has_other_link %}
                        <a class="link-button" href="{{ project.other_link }}">Website</a>
                        {% endif %}
                        {% include "components/project_star.html" with project=project %}
                    </nav>
                    <!-- TODO: DO CONSIDER THE SAFETY OF THIS: MAY CONTAINS UNSAFE HTML -->
                    <!-- for now, the data is manually inputted, so it is safe -->
                    {{ project.description | safe }} 
                </article>
            </li>
        {% empty %}
            {% if title_query %}
                <p class="empty-state">Tidak ada proyek dengan nama tersebut.</p>
            {% else %}
                <p>Nantikan proyek terbaru saya yang sangat ambisius dan menarik bagi para investor.</p>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}

