{% extends "base.html" %}

{% block meta %}
<title>Faeiz Faiza Fasha - Super Secret Admin Page</title>
{% endblock%}

{% block content %}
<div class="main-content">
    <h1>Admin Root Page</h1>
    ssh! Ini amat sangat rahasia
    <h2>Proyek <a href="{% url 'main:project:create' %}">[+]</a></h2>
    <ul>
        {% for project in projects %}
        <li class="admin-list-item">
            {{ project.title }}
            <div>
                {% include 'components/model_delete_modal.html' with model=project model_name="Proyek" delete_model_view='main:project:delete' %}
                <a class="link-button" href="{% url 'main:project:update' project.id %}">Edit</a>
            </div>
        </li>
        {% empty %}
        <p>Belum ada proyek</p>
        {% endfor %}
    </ul>

    <h2>Blog <a href="{% url 'main:blog:create' %}">[+]</a></h2>
    <ul>
        {% for blog in blogs %}
        <li class="admin-list-item">
            [{{ blog.created_at_str }}] {{ blog.title }}
            <div>
                {% include 'components/model_delete_modal.html' with model=blog model_name="Blog" delete_model_view='main:blog:delete' %}
                <a class="link-button" href="{% url 'main:blog:update' blog.id %}">Edit</a>
            </div>
        </li>
        {% empty %}
        <li>Belum ada blog post.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
